<footer class="footer navbar-bottom text-center">
    <div class="col-sx-12 col-md-4 col-middle">
        <a href="{{ path('louvre_front_mentions_legales') }}"> Mentions légales</a>
    </div>
    <div class="col-sx-12 col-md-4 col-middle">
        <a href="{{ path('louvre_front_horaires') }}"> Nos horaires</a>
    </div>
    <div class="col-sx-12 col-md-4 col-middle">
        <a href="{{ path('louvre_front_contact') }}"> Nous contacter</a>
    </div>
</footer>