<footer class="footer navbar-bottom text-center">
    <div class="col-sx-12 col-md-4 col-middle">
        <a href="#"> Mentions légales</a>
    </div>
    <div class="col-sx-12 col-md-4 col-middle">
        <a href="#"> Nos horaires</a>
    </div>
    <div class="col-sx-12 col-md-4 col-middle">
        <a href="#"> Nous contacter</a>
    </div>
</footer>