# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: louvre
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: smtp.mailtrap.io
    mailer_user: a49b3d3eb1b625
    mailer_adress: 74f4f78fbc-f340e2@inbox.mailtrap.io
    mailer_password:  1f0383154a0fd5
    mailer_auth_mode: cram-md5
    mailer_port: 2525
    stripe_public: pk_test_aYn42rDsZyeFrQ7kHbjAIz05
    stripe_secret: sk_test_1n1QFALEzFsOUMgT2gGYLiU8
    secret: 1db42e9a8574396a5b2ed945ac73fbef18f0ac20

