# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: louvre
    database_user: root
    database_password: root
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: biduletruck@gmail.com
    mailer_password: lilia2605
    secret: 1db42e9a8574396a5b2ed945ac73fbef18f0ac20

