{% extends "::base.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <section id="messageAccueil" class="col-xs-12 col-md-12 text-center">
                <h1>Bienvenue sur le site de réservation en ligne du Louvre</h1>
            </section>
        </div>
    </div>

{% endblock %}
