{% extends "::base.html.twig" %}
{% block body %}
<div class="row">
        <section id="messageAccueil" class="col-xs-12 col-md-10 col-md-push-2">
            <h1>Bienvenue sur le site de réservation en ligne du Louvre</h1>
        </section>
</div>
{% endblock %}
