{% extends '::base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/stripe.css') }}">
{% endblock %}


{% block body %}
    {{ parent() }}

    <h1 class="title">Page de payement</h1>


{{ dump(form) }}

{% endblock %}