body
{
    padding-top: 75px;
    background: #331107;
}

footer
{
    height: 75px;
    width: auto;
    background-color: black;
    line-height: 75px;
}

footer a:visited {
    color: darkgrey;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer a:active, a:focus {
    color: darkgrey;
    text-decoration: none;
}

#messageAccueil
{
    color: white;
}

.navbar-brand
{
    padding: 0px;
}

.navbar-brand>img
{
    height: 100%;
    padding: 2px;
    width: auto;
}