
{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="well col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>- Le musée est ouvert tous les jours de 9h à 18h excepté le mardi.<br>
                    (fermeture des salles à partir de 17h30)</p>
                <p>-&nbsp;Le musée est ouvert en nocturne jusqu'à 21h45 le mercredi et le vendredi.<br>
                    (fermeture des salles à partir de 21h30)</p>
                <p><strong><span>Chaque premier dimanche des mois d'octobre à mars, l'entrée au musée du Louvre est gratuite pour tous les visiteurs.</span></strong><span>&nbsp;&nbsp;</span></p>
                <p><strong><span>Accès :</span></strong></p>
                <p>- <strong>Les accès par la Pyramide et la galerie du Carrousel&nbsp;:</strong> ouvert tous les jours sauf le mardi, de 9h à 19h30 et jusqu'à 22h le mercredi et le vendredi.<br>
                    - <strong>Passage Richelieu</strong>&nbsp;: ouvert tous les jours, sauf le mardi, de 9h à 17h30 et jusqu’à 18h00 le mercredi et le vendredi.<br>
                    - <strong>Porte des Lions</strong>&nbsp;: Cet accès est réservé aux visiteurs en groupe.</p>

                <p>En 2017, le musée du Louvre vous accueille les jours fériés suivants :</p>
            </div>

            <div class="well col-xs-12 col-sm-12 col-md-6 col-md-push-3 col-lg-6 col-lg-push-3">
                <table class="table text-center" >
                    <thead>
                    <tr>
                        <th scope="row">
                            Jours fériés en 2017</th>
                        <th class="rtecenter" scope="col">
                            Musée ouvert de 9h à&nbsp;18h*</th>
                        <th class="rtecenter" scope="col">
                            Musée fermé</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">
                            Dimanche&nbsp;16 avril&nbsp;</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Lundi&nbsp;17 avril&nbsp;</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Lundi 1er mai</th>
                        <td class="rtecenter">
                            &nbsp;</td>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Lundi 8 mai</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Jeudi 25 mai</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Dimanche 4&nbsp;juin&nbsp;</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Lundi 5 juin&nbsp;</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Vendredi 14 juillet</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Mardi 15 août</th>
                        <td class="rtecenter">
                            &nbsp;</td>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Mercredi 1er novembre</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            samedi 11 novembre</th>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                        <td class="rtecenter">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Lundi 25 décembre</th>
                        <td class="rtecenter">
                            &nbsp;</td>
                        <td class="rtecenter">
                            <strong><font color="red">X</font></strong></td>
                    </tr>
                    </tbody>
                </table>
                <p>* L'évacuation des salles débute à 17h30.</p>
            </div>
        </div>
    </div>

{% endblock %}